.profilePagePostsContainer {
    width: 60rem;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

@media only screen and (max-width: 1000px) {
    .profilePagePostsContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .profilePagePostsContainer {
        justify-content: center;
    }
}

