.profilePagePost {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    margin: 0.5rem 1rem 0 1rem;
    cursor: pointer;
}

.profilePagePost:hover {
    filter: brightness(80%);
}

@media only screen and (max-width: 960px) {
    .profilePagePost {
        margin: 0 0.25rem 0.5rem 0.25rem;
    }
}