.inboxPage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: auto;
}

.inboxContainer {
    width: 60rem;
    height: 85vh;
    margin: auto;
    margin-top: 1.25rem;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 4rem;
}

