.inboxPage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: auto;
}

.inboxContainer {
    width: 60rem;
    height: 85vh;
    margin: auto;
    margin-top: 1.25rem;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 4rem;
}

.inboxLeft {
    width: 21rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgrey;
}

.inboxLeft-top{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.inboxLeft-top > h1 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 7rem;
}

.inboxLeft-top > #pencilIcon {
    font-size: 1.7rem;
    margin-right: 1rem;
    cursor: pointer;
}

.inboxLeft-bottom {
    height: calc(100% - 3.5rem);
    width: 100%;
}

.inboxRight {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inboxRight-top {
    width: 100%;
    height: 3.45rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.inboxRight-top > img {
    object-fit: cover;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.inboxRight-top > h2 {
    font-size: 1rem;
    font-weight: 600;
}

.inboxRight-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inboxRight-messageBox {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.inboxRight-message {
    width: 92.5%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.inboxRight-message > p {
    font-size: 0.9rem;
    line-height: 18px;
    color: #262626;
    background-color: #EFEFEF;
    width: 13rem;
    padding: 1rem;
    border-radius: 15px;
}

.inboxRight-bottom > form {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inboxRight-bottom > form > input {
    width: 90%;
    border-radius: 25px;
    border: 1px solid lightgrey;
    padding: 0.75rem 1rem;
    outline: none;
}