.homePageSuggestionsContainer {
    flex: 1;
    margin-left: 2rem;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}

.suggestionHeader {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.suggestions {
    display: flex;
    flex-direction: column;
}

.suggestionsHeader {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 700;
    margin-top: 0.5rem;
}

.suggestionsHeader > p {
    font-size: 14px;
    font-weight: 700;
    color: #8e8e8e;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
    .homePageSuggestionsContainer {
        display: none;
    }
}
