.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.suggestion-right {
    display: flex;
    align-items: center;
}

.suggestion-right > p {
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    margin-left: 0.5rem;
    cursor: pointer;
}
