.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.suggestion-right {
    display: flex;
    align-items: center;
}
