.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.suggestion-right {
    display: flex;
    align-items: center;
}

.suggestion-right > img {
    object-fit: cover;
    width: 100%;
    height: 2rem;
    border-radius: 999px;
}

.suggestion-right > p {
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    margin-left: 0.5rem;
}

.suggestion > button {
    font-size: 12px;
    color: #0095f6;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}
