.settingsPage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 4rem);
    padding-top: 4rem;
    position: relative;
}

.settingsContainer {
    margin: auto;
    width: 40rem;
    height: max-content;
    padding-bottom: 2rem;
    outline: 1px solid lightgrey;
    background-color: white;
    margin-top: 2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingAvatar {
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.settingCurrentAvatar {
    padding-right: 2.5rem;
    width: 10rem;
    display: flex;
    justify-content: flex-end;
}

.settingCurrentAvatar > img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
}

.settingInputAvatar {
    display: flex;
    flex-direction: column;
}

.settingInputAvatar > h1 {
    font-size: 20px;
    color: #262626;
    font-weight: 400;
    margin-bottom: 0.25rem;
}

#avatarInputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background: none;
    color: #0095F6;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    transition: 0.2s;
    position: relative;
    cursor: pointer;

}

#avatarInputLabel > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.settingsContainer > button {
    background-color: #0095f6;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem;
    width: max-content;
    border: none;
    border-radius: 3px;
    margin-left: 12.5rem;
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
}

.settingsContainer > button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1200px) {
    .settingsContainer {
        width: 40rem;
    }
}

@media only screen and (max-width: 650px) {
    .settingsContainer {
        width: 30rem;
    }
}

@media only screen and (max-width: 500px) {
    .settingsContainer {
        width: 98%;
    }

    .settingsContainer > button {

    }
}





