.postModalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.postModal {
    width: 100vw;
    height: 90vh;
    margin: auto;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postModalLeft {
    height: 100%;
    background-color: black;
    width: max-content;
    display: flex;
    align-items: center;
}

.postModalLeft > img {
    object-fit: contain;
    height: 92.5%;
    width: auto;
    max-width: 50rem;
}

.postModalRight {
    height: 100%;
    background-color: white;
    width: 30rem;
}

.postModalRightHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(239,239,239);
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.postModalRightHeader > span {
    margin-right: 0.5rem;
}

.postModalCommentsContainer {
    padding: 1rem 0 0 1rem;
    max-height: 33rem;
    overflow-x: scroll !important;
    border-bottom: 1px solid rgba(239,239,239);
}

.postModalCommentsContainer::-webkit-scrollbar {
    display: none;
}

.postModalActions {
    display: flex;
    font-size: 1.5rem;
    padding: 0.75rem 0 0 1rem;
}

.postModalActions > #commentIcon {
    cursor: pointer;
}

.postModalActions > #heartIcon {
    margin-right: 1rem;
    transform: scale(1.2);
    cursor: pointer;
}

.postModalRight > #likesCounter {
    margin: 0.75rem 0 0 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #262626;
}

.postModalRight > #postDate {
    padding: 0.75rem 0 1rem 1rem;
    font-size: 0.65rem;
    color: #8e8e8e;
    border-bottom: 1px solid rgba(239,239,239);
    text-transform: uppercase;
}

.postModalInputContainer {
    display: flex;
    align-items: center;
    padding: 0.75rem 0 0 1rem;
}

.postModalInputContainer > #smileyIcon {
    font-size: 1.75rem;
    margin-right: 1rem;
}

.postModalInputContainer > input {
    border: none;
    outline: none;
    flex: 1;
}

@media only screen and (max-width: 1150px) {
    .postModal {
        flex-direction: column;
        height: 100%;
    }
    .postModalRight {
        width: 100%;
    }
}




