
.postModalComment {
    display: flex;
    margin-bottom: 1.5rem;
    position: relative;
}

.postModalComment-right {
    display: flex;
    flex-direction: column;
}

.postModalComment-right > p {
    font-size: 0.85rem;
    color: #262626;
    margin-right: 0.5rem;
    margin-top: 0.20rem;
    margin-bottom: 0.5rem;
}

.postModalComment-right > p > span {
    font-weight: 600;
    cursor: pointer;
}

.postModalCommentDate {
    display: flex;
}

.postModalCommentDate > p {
    font-size: 0.8rem;
    color: #8e8e8e;
    margin-right: 0.5rem;
}

.postModalCommentDate > button {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 0.8rem;
    color: #8e8e8e;
    cursor: pointer;
}


.postModalCommentInputReply {
    margin-top: 0.5rem;
    align-items: center;
    width: 25rem;
    display: none;
}

.postModalCommentInputReply > #smileyIcon {
    font-size: 1.75rem;
}

.postModalCommentInputReply > input {
    outline: none;
    margin-right: 1rem;
    padding: 0.5rem;
    border: none;
    flex: 1;
}

.postModalCommentInputReply > button {
    font-weight: 700;
    font-size: 0.9rem;
    color: #0095f6;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 0.75rem;
}


