
.postModalReply {
    display: flex;
    margin-top: 1rem;
}

.postModalReplyText {
    font-size: 14px;
    margin-right: 0.5rem;
    margin-top: 0.20rem;
    margin-bottom: 0.5rem;
}
.postModalReply-date {
    font-size: 0.8rem;
    color: #8e8e8e;
    margin-right: 0.5rem;
}
