header {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav {
    height: 100%;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > img {
    object-fit: contain;
    width: auto;
    height: 2rem;
    cursor: pointer;
}

.searchField {
    width: 14rem;
    position: relative;
    padding-right: 1.75rem;
    border-radius: 10px;
}

.searchField > input {
    width: 100%;
    height: 100%;
    padding: 0.6rem 0 0.6rem 2rem;
    border: none;
    background-color: #EFEFEF;
    border-radius: 10px;
    outline: none;
}

.searchField > input::placeholder {
    font-size: 0.8rem;
    color: #8e8e8e;
}

#searchIcon {
    position: absolute;
    top: 0.5rem;
    padding-left: 0.5rem;
    color: #A2A2A2;
}

#searchExitIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
    color: #C7C7C7;
    font-size: 1.25rem;
    cursor: pointer;
}

.navigationLinks {
    display: flex;
    font-size: 1.6rem;
}

.navigationLinks > li > img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 999px;
}

.navigationLinks > li {
    margin: 0.5rem;
    position: relative;
    cursor: pointer;
}

.avatarDropDownArrow {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 2rem;
    right: 0.25rem;
    transform: rotate(45deg);
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.avatarDropDownBox {
    position: absolute;
    width: 14rem;
    height: max-content;
    right: -1rem;
    top: 2.5rem;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.avatarDropDownBox > li {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #262626;
    cursor: pointer;
}

.avatarDropDownBox > li:hover {
    background-color: #FAFAFA;
}

.avatarDropDownBox > li:last-child {
    border-top: 1px solid lightgrey;
}

.avatarDropDownBox .avatarDropDownIcon {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 900px) {
    nav {
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    nav {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .searchField {
        display: none;
    }

    nav {

    }
}