.explorePage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
}

.explorePagePostsContainer {
    width: 60rem;
    margin: auto;
    overflow: auto;
}

.explorePosts {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}