.explorePage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
}

.explorePagePostsContainer {
    width: 60rem;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
    .explorePagePostsContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .explorePagePostsContainer {
        justify-content: center;
    }
}

