.errorPage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
    overflow: auto;
}

.errorContainer {
    width: 100%;
    text-align: center;
}

.errorContainer > h1 {
   margin-top: 5rem;
}