.postingModalUpload {
    background-color: #FAFAFA;
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.postingModalUpload > img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

#imageInputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #0095F6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

#imageInputLabel:hover {
    opacity: 0.6;
}

#imageInputLabel > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    .postingModalUpload {
        width: 100%;
    }
}
