.postingModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid lightgrey;
}

.postingModalHeader > h2 {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    margin-left: 27.5%;
}