
.postingModalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.postingModal {
    height: 77.5vh;
    width: 67.5vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.postingModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid lightgrey;
}

.postingModalHeader > h2 {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    margin-left: 27.5%;
}

.postingModalContent {
    width: 100%;
    flex: 1;
    display: flex;
}

.postingModalContent-left {
    background-color: #FAFAFA;
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

#imageInputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #0095F6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

#imageInputLabel:hover {
    opacity: 0.6;
}

#imageInputLabel > input[type="file"] {
    outline: solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.postingModalContent-left > img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.postingModalContent-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-left: 1px solid lightgrey;
    border-bottom-right-radius: 10px;
}

.postingModalProfile {
    display: flex;
    align-items: center;
}

.postingModalProfile > img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    border-radius: 999px;
}

.postingModalProfile > p {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    margin-left: 0.5rem;

}

.postingModalContent-right > textarea {
    outline: none;
    border: none;
    margin-top: 1rem;
    resize: none;
    border-bottom: 1px solid lightgrey;
}
