.postingModalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.postingModal {
    height: 77.5vh;
    width: 65rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.postingModalContent {
    width: 100%;
    flex: 1;
    display: flex;
}

@media only screen and (max-width: 1100px) {
    .postingModal {
        width: 50rem;
    }
}

@media only screen and (max-width: 850px) {
    .postingModal {
        width: 40rem;
    }
}

@media only screen and (max-width: 650px) {
    .postingModal {
        width: 30rem;
    }
}

@media only screen and (max-width: 500px) {
    .postingModal {
        width: 100%;
    }
    .postingModalContent {
        flex-direction: column;
    }
}