.chatUser > button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    width: 100%;
}

.chatUser > button:hover {
    background-color: #FAFAFA;
}

.chatUser > button > h2 {
    font-size: 0.9rem;
    font-weight: 400;
}