
.chatUser {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

.chatUser:hover {
    background-color: #FAFAFA;
}

.chatUser > h2 {
    font-size: 0.9rem;
    font-weight: 400;
}