.chatWindow {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatWindowHeader {
    width: 100%;
    min-height: 3.45rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.chatWindowFooter {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    margin-bottom: 0.5rem;
}

.chatWindowMessages {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.chatWindowFooter > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatWindowFooter > form > input {
    width: 90%;
    border-radius: 25px;
    border: 1px solid lightgrey;
    padding: 0.75rem 1rem;
    outline: none;
}

@media only screen and (max-width: 1000px) {
    .inboxContainer {
        width: 100%;
    }
}