.currentUserChatsContainer {
    width: 21rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgrey;
}

.currentUserChatsHeader{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.currentUserChatsHeader > #pencilIcon {
    font-size: 1.7rem;
    margin-right: 1rem;
    cursor: pointer;
}

.currentUserChats {
    height: calc(100% - 3.5rem);
    width: 100%;
}