
.messageModalSuggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

.messageModalSuggestion-left {
    display: flex;
    align-items: center;
}

.messageModalSuggestion:hover {
    background-color: #FAFAFA;
}

.messageModalSuggestion-left > h3 {
    font-weight: 500;
    font-size: 0.9rem;
    color: #262626;
}

.messageModalSuggestion > #checkIcon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    border: 2px solid black;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkIcon > #checkMarkIcon {
    color: white;
}