.messageModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageModal {
    width: 25rem;
    height: 35rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(266,266,266,1);
}

.messageModalTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
    border-bottom: 1px solid lightgrey;
}

.messageModalTop > h1 {
    font-weight: 500;
    font-size: 1rem;
    color: #262626;
    z-index: 11;
    margin-right: 6rem;
}

.messageModalSuggestions {
    display: flex;
    flex-direction: column;
}

.messageModalSuggestions > h2 {
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #262626;
}

