.homePage {
    background-color: #FAFAFA;
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
}

.homePageContainer {
    width: 55%;
    margin: auto;
    display: flex;
    padding-top: 2rem;
}

.homePagePosts {
    width: 28rem;
}

.homePagePost {
    display: flex;
    flex-direction: column;
}

.homePagePostHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.homePagePostHeader-left {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.homePagePostHeader-left > span {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.homePagePostHeader-right {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.homePagePost > img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.homePagePostFooter {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    background-color: white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.homePagePostActionButtons {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.homePagePostLikes {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.homePagePostLikes > p {
    font-size: 14px;
    margin-left: 0.25rem;
}

.homePagePostLikes > p > span {
    font-weight: 700;
}

.homePagePostTitle {
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.homePagePostTitle > span {
    font-weight: 700;
}

.homePagePostComments {
    color: #8e8e8e;
    font-size: 14px;
    text-decoration: none;
}

.homePagePostDate {
    color: #8e8e8e;
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.homePagePostComment {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 1px solid lightgrey;
    border-top: 1px solid rgba(239,239,239);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.homePagePostComment > input {
    padding: 0.75rem 0.5rem 0.5rem;
    border: none;
    outline: none;
    flex: 1;
}

.homePagePostComment > button {
    font-size: 14px;
    color: #0095f6;
    font-weight: 700;
    background: none;
    border: none;
    padding: 0.75rem 0.5rem 0.5rem;
    cursor: pointer;
}

.homePageSuggestionsContainer {
    flex: 1;
    margin-left: 2rem;
}

.suggestionsAvatar {
    display: flex;
    align-items: center;
}

.suggestionsAvatar > p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
}

.suggestions {
    display: flex;
    flex-direction: column;
}

.suggestionsHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.suggestionsHeader > p {
    font-size: 14px;
    font-weight: 700;
    color: #8e8e8e;
}

.suggestionsHeader > a {
    text-decoration: none;
    font-size: 12px;
    color: #262626;
    font-weight: 700;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.suggestion-right {
    display: flex;
    align-items: center;
}

.suggestion-right > p {
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    margin-left: 0.5rem;
}

.suggestion > button {
    font-size: 12px;
    color: #0095f6;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

.darkBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.postingModalContainer {
    height: 77.5vh;
    width: 67.5vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.postingModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid lightgrey;
}

#exitPostModalIcon {
    cursor: pointer;
    font-size: 1.75rem;
}

.postingModalHeader > h2 {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
}

.postingModalHeader > button {
    font-size: 14px;
    color: #0095f6;
    font-weight: 700;
    background: none;
    border: none;
    padding: 0.75rem 0.5rem 0.5rem;
    cursor: pointer;
}

.postingModalContent {
    width: 100%;
    flex: 1;
    display: flex;
}

.postingModalContent-left {
    background-color: #FAFAFA;
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

#imageInputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #0095F6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

#imageInputLabel:hover {
    opacity: 0.6;
}

#imageInputLabel > input[type="file"] {
    outline: solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.postingModalContent-left > img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.postingModalContent-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-left: 1px solid lightgrey;
    border-bottom-right-radius: 10px;
}

.postingModalProfile {
    display: flex;
    align-items: center;
}

.postingModalProfile > p {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    margin-left: 0.5rem;

}

.postingModalContent-right > textarea {
    outline: none;
    border: none;
    margin-top: 1rem;
    resize: none;
    border-bottom: 1px solid lightgrey;
}



