.homePage {
    background-color: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
}

.homePageContainer {
    width: 55%;
    margin: auto;
    display: flex;
    padding-top: 2rem;
}

.homePagePosts {
    width: 28rem;
}


.homePageSuggestionsContainer {
    flex: 1;
    margin-left: 2rem;
}

.suggestionsAvatar {
    display: flex;
    align-items: center;
}

.suggestionsAvatar > img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 999px;
}

.suggestionsAvatar > p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
}

.suggestions {
    display: flex;
    flex-direction: column;
}

.suggestionsHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.suggestionsHeader > p {
    font-size: 14px;
    font-weight: 700;
    color: #8e8e8e;
}

.suggestionsHeader > a {
    text-decoration: none;
    font-size: 12px;
    color: #262626;
    font-weight: 700;
}




